body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
}

.sub-header {
    font-size: 1.2em;
}

.profile-section {
    margin-top: 20px;
    display: inline-block;
    padding: 0px 20px;
}

h2 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #3498db;
}

img {
    width: 50px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.2);
}

.footer {
    margin-top: 10%;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #fff;
    padding: 10px 15%;
}

.brand a {
    margin: 0;
    font-size: 1.5em;
    font-weight: 900;
}

.brand a:hover {
    color: #3498db;
    transition: 0.5s;
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
}

#resume-select {
    border: 1px solid #333;
    /*background: #222222;*/
}

.resume-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.resume-links a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.resume-links a:hover {
    color: #3498db;
    transition: 0.5s;
}

.linkedin {
    color: #0a66c2 !important;
    padding: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.linkedin img {
    margin-right: 8px; /* Отступ между иконкой и текстом */
}

.linkedin:hover {
    color: #ffffff !important;
    transition: .6s;
}

.hh {
    padding: 12px;
    color: #c93a35 !important;
    margin-bottom: 4px !important;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.hh img {
    margin-right: 8px;
}

.hh:hover {
    color: #ffffff !important;
    transition: .6s;
}

select {
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: auto;
}

select:hover {
    background-color: #222;
    border-color: #3498db;
}

select option {
    background-color: #111;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .content {
        top: 40% !important;
        display: block !important;
        flex-direction: column;
        width: 100% !important;
        padding: 5%;
    }
    .sub-header {
        padding: 5%;
    }

    .navbar {
        padding: 10px 5%;
    }

    .resume-links {
        width: 200px !important;
        font-size: 12px !important;
        gap: 10px;
        align-items: center;
    }

    .resume-links a {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .line {
        width: 1px !important;
    }
}